## kazoo generic gitignore

.eunit
.erlang.cookie
*~
.#*
*.log*
*.sasl
*.plt
*.app
.deps.mk
.deps.rules
.test.deps
*.beam
*.so
*.o
*.d
*.pid
*.dump
*.swp

*.coverdata

/.edts
.project
.settings
.idea/

sup.bash

_rel/

*.md.bak
*.md.new

.rebar/

make/erlang-formatter/
.kerl
*.tar
.tool-versions

erlang.mk
.erlang.mk


## app specific gitignore

/kazoo/mime.types
/kazoo/src/kz_mime.erl
/kazoo_auth/c_src/*
/kazoo_auth/priv/kz_auth_rsa_drv.so
/kazoo_numbers/dialcodes.json
/kazoo_numbers/src/knm_iso3166_util.erl
/kazoo_numbers/src/knm_iso3166a2_itu.erl
/kazoo_web/mime.types
/kazoo_web/src/kz_mime.erl
/sup/sup
mp3.mp3
